doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type= 'text/javascript' src='/javascripts/jquery-3.1.1.min.js')
    script(type= 'text/javascript' src='/javascripts/funcs.js')  
  body
    header
    section#wrapper
        block content
        